<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Routine Enforcer" Language="1033" Version="0.5.0.0" Manufacturer="PaulZero" UpgradeCode="3ae70114-f321-41cb-83f0-8a4b565c1b49">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="PaulZero.RoutineEnforcer.Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut"/>
		</Feature>
	</Product>
  
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Routine Enforcer" />
      </Directory>
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Routine Enforcer" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="PaulZero.RoutineEnforcer.exe" Guid="27d50ce1-7673-45e8-9b52-93b749c2fea0">
        <File Source="$(var.PaulZero.RoutineEnforcer.TargetDir)publish\PaulZero.RoutineEnforcer.exe" />
      </Component>
      <Component Id="Readme.md" Guid="12fb894a-59db-4786-a7e2-cbaa10b4137c">
        <File Source="$(var.PaulZero.RoutineEnforcer.ProjectDir)\Readme.md" />
      </Component>
		</ComponentGroup>
	</Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">      
      <Component Id="ApplicationShortcut" Guid="eefb4d37-7cc4-4d13-8e2d-16210aad9d68">        
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Routine Enforcer"
                  Description="Stops time blindness from keeping you stuck to your computer until 3am"
                  Target="[#PaulZero.RoutineEnforcer.exe]"
                  WorkingDirectory="INSTALLFOLDER">          
          <ShortcutProperty Key="System.AppUserModel.ID" Value="PaulZero.WindowsRoutine" />
          <ShortcutProperty Key="System.AppUserModel.ToastActivatorCLSID" Value="{7490a6b4-7d4d-46aa-a341-10e48a50c5c4}"/>
        </Shortcut>        
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\PaulZero\RoutineEnforcer\Shortcuts" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        <RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="RoutineEnforcer" Type="string" Value="[ApplicationProgramsFolder]Routine Enforcer.lnk" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
